<div class="app-brand demo">
    <a href="index.html" class="app-brand-link">
        <span>
            <img src="~/UserImages/traveltime-favicon-color.png" />
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Admin</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>